<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/home/main.css">
        <link rel="stylesheet" href="/css/home/calendar.css">
        <link rel="stylesheet" href="/css/home/todolist.css">
        <script src="/js/home/todolist.js" type="text/javascript"></script>
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
                    <header>
                        <div style="text-align:center;margin-top:25px;font-weight:bold;texxxt-decoration:none;">
                            <a>Welcome</a></div>
                        <h2>StudyWithUs</h2>
                    </header>

                    <nav class="menu">
                        <ul>
                            <li class="active">
                                <a href="/main">Home</a>
                            </li>
                            <li>
                                <a href="/qna">QnA</a>
                            </li>
                            <li>
                                <a href="/schedules">Schedules</a>
                            </li>
                            <li style="float:right;">
                                <a href="#">My Profile</a>
                            </li>
                            <li style="float:right;">
                                <a href="/">Logout</a>
                            </li>
                        </ul>
                    </nav>
        </div>
        
        <!--투두리스트-->

        <div class="add" onclick="addTodo()"><span>일 추가하기</span></div>
        <div class="add" onclick="delete_all()" style="
        border-bottom: 2px solid #9FB8B4;"><span>전체 초기화</span></div>
        <!-- <div class="add" onclick="logout()" style="
        border-bottom: 2px solid #f1b5ea;"><span>로그아웃</span></div> -->

        <div class="wrap_menu">
            <div class="sec_wrapper" id="todo_wrapper">
                <div class="todomenu" id="m_todo"><span>할 일</span></div>
                <table>
                    <% todoList.forEach(function(item, index){ %>
                    <tr>
                        <td class="t_title" colspan="2"><%= item.description %></td>
                    </tr>
                    <tr>
                        <td class="t_detail">작성자: <%= item.name %>, <%= item.rank %>순위</td>
                        <td class="t_pass" onclick="location.href = '/main/changestate?status=<%= item.status %>&id=<%= item.name %>'">
                            →
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <div class="sec_wrapper" id="doing_wrapper">
                <div class="todomenu" id="m_doing"><span>진행 중</span></div>
                <table>
                    <% doingList.forEach(function(item, index){ %>
                    <tr>
                        <td class="t_title" colspan="2"><%= item.description %></td>
                    </tr>
                    <tr>
                        <td class="t_detail">작성자: <%= item.name %>, <%= item.rank %>순위</td>
                        <td class="t_pass" onclick="location.href = '/main/changestate?status=<%= item.status %>&id=<%= item.name %>'">
                            →
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <div class="sec_wrapper" id="done_wrapper">
                <div class="todomenu" id="m_done"><span>완료</span></div>
                <table>
                    <% doneList.forEach(function(item, index){ %>
                    <tr>
                        <td class="t_title" colspan="2"><%= item.description %></td>
                    </tr>
                    <tr>
                        <td class="t_detail">작성자: <%= item.name %>, <%= item.rank %>순위</td>
                        <td class="t_del" onclick="location.href = '/main/deltodo/&id=<%= item.name %>'">
                            ×
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>

        </div>

    <div id="hide">
        <div id="add_todo">
            <h2 style="text-align: center; color:black;">할 일 추가</h2>
            <hr style="border:1px solid lightgrey;">
            <form name="addform" method="post" action="/main/addtodo">
                <p class="addText">어떤 일인가요?</p>
                <input type="text" name="description" placeholder="(50자까지)" maxlength='50' required />
                <br><br>
                <p class="addText">누가 할 일인가요?</p>
                <input type="text" name="name" placeholder="(15자까지)" maxlength='15' required />
                <br><br>
                <p class="addText">우선순위를 선택하세요.</p>
                <br>
                <div class="rank">
                    <label><input type="radio" name="rank" value="1" checked="checked">1순위</label>
                    <label><input type="radio" name="rank" value="2">2순위</label>
                    <label><input type="radio" name="rank" value="3">3순위</label>
                </div>
                <div class="addtodo_buttonlist">
                    <input type="button" value="닫기" name="close" style="background: #ea8d8a; cursor: pointer;" onclick="hide_addTodo()" onmouseover="this.style.textDecoration= 'underline';" onmouseout="this.style.textDecoration='none';">
                    <input type="reset" value="지우기" name="erase" style="background: #efb64b; cursor: pointer;" onmouseover="this.style.textDecoration= 'underline';" onmouseout="this.style.textDecoration='none';">
                    <input type="submit" value="등록" name="confirm" style="background: rgb(50, 162, 210); cursor: pointer;" onclick="hide_addTodo()" onmouseover="this.style.textDecoration= 'underline';" onmouseout="this.style.textDecoration='none';">
                </div>
            </form>
        </div>
    </div>

        <!--투두리스트, 달력-->
        <!-- <div class="main">
            <div class="content-wrap">
                <div class="content-left">
                    <div class="main-wrap">
                        <div id="main-day" class="main-day"></div>
                        <div id="main-date" class="main-date"></div>
                    </div>
                    <div class="todo-wrap">
                        <div class="todo-title">Todo List</div>
                        <div class="input-wrap">
                            <input type="text" placeholder="please write here!!" id="input-box" class="input-box">
                            <button type="button" id="input-data" class="input-data">입력</button>
                            <div id="input-list" class="input-list"></div>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <table id="calendar" align="center">
                <thead>
                    <tr class="btn-wrap clearfix">
                    <td>
                        <label id="prev">
                            &#60;
                        </label>
                    </td>
                    <td align="center" id="current-year-month" colspan="5"></td>
                    <td>
                        <label id="next">
                            &#62;
                        </label>
                    </td>
                    </tr>
                    <tr>
                        <td class = "sun" align="center">Sun</td>
                        <td align="center">Mon</td>
                        <td align="center">Tue</td>
                        <td align="center">Wed</td>
                        <td align="center">Thu</td>
                        <td align="center">Fri</td>
                        <td class= "sat" align="center">Sat</td>
                    </tr>
                </thead>
                <tbody id="calendar-body" class="calendar-body"></tbody>
                </table>
            </div>
            </div>
    </div>
    <script src="js/home/calendar.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
    </html>